/* Very Smol Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

/* Background */
body {
  background-image: url("/images/background.svg");
  background-color: color(#ffe5f1);
  background-size: cover;
}

/* Layout */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: #222;
}

body > * {
  --layout-spacing: max(8vh, 3rem);
  --max-width: 70ch;
  width: min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -1rem;
  margin-right: -1rem;
}

nav ul li {
  padding: 0.5rem 1rem;
}

nav [aria-current="page"] {
  font-weight: bold;
}

header,
main,
main > * + * {
  margin-top: var(--layout-spacing);
}

body > footer {
  margin-top: auto;
  padding-top: var(--layout-spacing);
}

body > footer div {
  border-top: 1px solid #ccc;
  padding-top: 0.5em;
  font-size: 0.9rem;
  color: #767676;
}

article * + * {
  margin-top: 1em;
}

/* Typography */

@font-face {
  font-family: 'title-font';
  src: url("../fonts/Bodoni/OpenType/Bodoni-96-Bold.otf?") format('opentype');
}

@font-face {
  font-family: 'body-font';
  src: url("../fonts/Bodoni/OpenType/Bodoni-11-Book.otf?") format('opentype');
}

@font-face {
  font-family: 'body-font';
  src: url("../fonts/Bodoni/OpenType/Bodoni-11-Book-Italic.otf?") format('opentype');
  font-style: italic;
}

@font-face {
  font-family: 'body-font';
  src: url("../fonts/Bodoni/OpenType/Bodoni-11-Bold.otf?") format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'body-font';
  src: url("../fonts/Bodoni/OpenType/Bodoni-11-Bold-Italic.otf?") format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'heading-font';
  src: url("../fonts/Bodoni/OpenType/Bodoni-24-Medium.otf?") format('opentype');
}

body {
  font-family: 'body-font';
  font-size: 18px:
}


h1 {
  font-family: 'title-font';
  font-size: 96px;
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
}

:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h1, h2) {
  max-width: 40ch;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
  font-family: 'heading-font'
}

a {
  color: black;
  text-underline-offset: 0.08em;
}

a:focus {
  outline: 1px solid currentColor;
  outline-offset: 0.2em;
}

/* Media */

article img {
  display: block;
  width: 100%;
  min-height: 20rem;
  max-height: 40vh;
  object-fit: cover;
  margin: 2rem auto;
}

@supports (aspect-ratio: 1) {
  article img {
    max-height: unset;
    aspect-ratio: 3/2;
  }
}

/* Supporting Content */

code:not([class*="language"]) {
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1.75ex;
  color: #444;
  background-color: rgba(0, 0, 0, 0.1);
  padding-right: 0.15em;
  padding-left: 0.15em;
}

blockquote {
  margin: 2rem 0;
  padding: 0.5em 1rem;
  border-left: 3px solid rgba(0, 0, 0, 0.35);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0 0.25rem 0.25rem 0;
}
